* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #f9f9f9;
    --second-bg-color: #b486ff;
    --text-color: black;
    --main-color: #7420fb;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 9%;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    font-size: 2.8rem;
    font-weight: 800;
    color: var(--text-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

.navbar a {
    font-size: 1.6rem;
    color: var(--text-color);
    margin-left: 3rem;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

/* SECTION */
section {
    min-height: 100vh;
    padding: 12rem 9% 5rem;
}

/* HOME */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-img img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;
    transition: 0.3s;
}

.home-img img:hover {
    transform: scale(1.05);
    border: 5px solid var(--main-color);
}

.home-content h1 {
    font-size: 5rem;
    font-weight: 700;
}

.home-content h3 {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.home-content p {
    font-size: 1.6rem;
    max-width: 700px;
    margin: 1rem auto;
    line-height: 1.6;
}

span {
    color: var(--main-color);
}

/* SOCIAL ICONS */
.social-icons {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.social-icons a {
    width: 45px;
    height: 45px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--main-color);
    margin: 0 10px;
    transition: 0.3s;
}

.social-icons a:hover {
    background: var(--main-color);
    color: white;
    transform: translateY(-5px);
}

/* BUTTON */
.btn {
    padding: 10px 25px;
    background: var(--main-color);
    color: white;
    border-radius: 25px;
    font-size: 1.6rem;
    transition: 0.3s;
    display: inline-block;
}

.btn:hover {
    background: white;
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

/* ABOUT */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--second-bg-color);
    color: white;
}

.about-img{
    border-radius: 50%;
}

.about-img img{
    position: relative;
    width: 30vw;
    border-radius: 50%;
    border: 10px solid transparent;
    top: 1rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.about-img img:hover{
    border: 10px solid white;
    transform: scale(1.05);
}

.heading{
    text-align: center;
    font-size: 6rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.5;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.about-content .btn{
    background: white;
    color: var(--main-color);
    border: 3px solid var(--main-color)
}

.about-content .btn:hover{
    background-color: var(--main-color);
    color: white;
}






.project{
    padding: 60px 20px;
    background: #f5f5f5;
}

.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

.tittle-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 2rem;

}

.tittle-section h2{
    background: var(--main-color);
    font-size: 4rem;
    color: #fff;
    padding: 10px 25px;
    clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
}

.tittle-section p{
    max-width: 600px;
    color: #666;
    font-size: 14px;
}

.project-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.card{
    height: 100%;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.4s;
    position: relative;
}

.card-img img{
    height: 250px;
    object-fit: cover;
    width: 100%;
    display: block;
}

.card-content{
    padding: 20px;
}

.card-content h2{
    margin-bottom: 10px;
    font-size: 20px;
}

.card-content p{
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.card-content a{
    font-size: 13px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    opacity: 0;
    transition: 0.4s;
    z-index: 1;
}

.card:hover::before{
    opacity: 0.08;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.card-content,
.card-img{
    position: relative;
    z-index: 2;
}

.card:hover h3,
.card:hover a{
    color: var(--main-color);
}







.contact{
    background-color: var(--second-bg-color);
}

.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 0.5rem 0;
}

.contact form .btn{
    margin-top: 2rem;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: white;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}

.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3 ease;
}

.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: white;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: var(--main-color);
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.footer ul li a:hover{
    border-bottom: 3px solid var(--main-color);
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: var(--main-color);
}





/* =========================
   RESPONSIVE DESIGN
========================= */

/* TABLET (max-width: 991px) */
@media (max-width: 991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 5%;
    }

    section {
        padding: 10rem 5% 5rem;
    }

    .about {
        flex-direction: column;
        text-align: center;
        gap: 5rem;
    }

    .about-img img {
        width: 50vw;
    }
}


/* MOBILE (max-width: 768px) */
@media (max-width: 768px) {

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 60%;
        background: white;
        flex-direction: column;
        text-align: center;
        display: none;
        padding: 2rem 0;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    }

    .navbar a {
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }

    .navbar.active {
        display: block;
    }

    .home-content h1 {
        font-size: 4rem;
    }

    .home-content h3 {
        font-size: 2rem;
    }

    .home-img img {
        width: 200px;
        height: 200px;
    }

    .about-img img {
        width: 60vw;
    }

    .project-grid{
        margin-top: 10px;
        padding: 0px;
        grid-template-columns: repeat(1,1fr);
    }


}


/* SMALL MOBILE (max-width: 450px) */
@media (max-width: 450px) {

    html {
        font-size: 50%;
    }

    .home-content h1 {
        font-size: 3.5rem;
    }

    .home-content p {
        font-size: 1.4rem;
    }

    .about-img img {
        width: 70vw;
    }

}